.hand0{
    position: absolute;
    top:60%;
    left:20%;
}
.hand1{
    position: absolute;
    top:60%;
    left:25%;
}
.hand2{
    position: absolute;
    top:60%;
    left:30%;
}
.hand3{
    position: absolute;
    top:60%;
    left:35%;
}
.hand4{
    position: absolute;
    top:60%;
    left:40%;
}
.hand5{
    position: absolute;
    top:60%;
    left:45%;
}
.hand6{
    position: absolute;
    top:60%;
    left:50%;
}
.hand7{
    position: absolute;
    top:60%;
    left:55%;
}
.table0{
    position: absolute;
    top:20%;
    left:30%;
}
.table1{
    position: absolute;
    top:20%;
    left:35%;
}
.table2{
    position: absolute;
    top:20%;
    left:40%;
}
.table3{
    position: absolute;
    top:20%;
    left:45%;
}
.table4{
    position: absolute;
    top:20%;
    left:50%;
}
.status{
    position:absolute;
    top:0%;
    left:75%;
    background: #888;
    height: 100%;
    width: 25%;
}
.player{
    position:absolute;
    top:2%;
    left:10%;
    background:#222;
    font-size:250%;
    padding:5%;
    color:#fff;
}
.current{
    position:absolute;
    top:20%;
    left:10%;
    font-size:200%;
    padding:3%;
    background:#555;
    color:#fff;
}
.rez1{
    position:absolute;
    top:38%;
    left:10%;
    font-size:170%;
    padding:3%;
    background:#555;
    color:#fff;
}
.rez2{
    position:absolute;
    top:45%;
    left:10%;
    font-size:170%;
    padding:3%;
    background:#555;
    color:#fff;
}
.rez3{
    position:absolute;
    top:52%;
    left:10%;
    font-size:170%;
    padding:3%;
    background:#555;
    color:#fff;
}
.rez4{
    position:absolute;
    top:59%;
    left:10%;
    font-size:170%;
    padding:3%;
    background:#555;
    color:#fff;
}
.rez5{
    position:absolute;
    top:66%;
    left:10%;
    font-size:170%;
    padding:3%;
    background:#555;
    color:#fff;
}
.reset{
    position:absolute;
    top:90%;
    left:10%;
    font-size:150%;
    padding:3%;
    background:#700;
    color:#fff;
}
.bg{
    background: #365;
}
.hidden{
    display:none;
}